<?php
// Database configuration.
$databases['default']['default'] = array(
  'driver' => 'mysql',
  'host' => '{{ db_host_address }}',
  'username' => '{{ db_user }}',
  'password' => '{{ db_pass }}',
  'database' => '{{ db_name }}',
  'prefix' => '',
);
