#!/bin/bash
# {{ ansible_managed }}
# See https://github.com/AcroMedia/ansible-role-devops-utils
# This is a bash include. White space is not trivial.
GITLAB_SERVER_URL='{{ aau_gitlab_server_url }}'  #  aau_gitlab_server_url
GRANT_WEBS={{ aau_grant_webs | ternary('1', '0') }}  # aau_grant_webs
GRANT_SECONDARIES={{ aau_grant_secondaries | ternary('1', '0') }}  # aau_grant_secondaries
